{% extends 'base.html' %}

{% block content %}
<div class="container">
	<h4 style="text-align: center">{{title}}</h4>

	<form method="post" action="">
	{% csrf_token %}

	<table class="table table-bordered">
		{{userform.as_table}}
  	</table>

  	<input type="submit" class="btn btn-success" style="float: right;" value="Add Employees">
  	</form>

</div>
	
{% endblock %}




	<!-- <form method="post" action="">
		{% csrf_token %}
		<p>{{userform.table}}</p>
		<input type="submit" value="Add Employees">
	</form> -->