<!Doctype html>
<html>
	<head>
		<title>EMS</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	</head>
	<body>
		{% include 'header.html' %}
		<div class="container-fluid">
			
			<h1 style="text-align: center;font-weight: bold;color:#8769a2;">Employee Management System</h1>
			<hr>
			{% block content %}
			{% endblock %}
		</div>
	</body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</html>